VITE_API_BASE_URL=http://localhost:8080

# Auth 
VITE_AUTH_PROVIDER=thunder
VITE_AUTH_SCOPES=openid profile email
VITE_AUTH_RESOURCE=portal

# Set VITE_AUTH_PROVIDER=thunder to use this adapter.
VITE_THUNDERID_BASE_URL=https://localhost:8090
VITE_THUNDERID_CLIENT_ID=

# Set VITE_AUTH_PROVIDER=asgardeo to use this adapter.
VITE_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/<organization-name>
VITE_ASGARDEO_CLIENT_ID=
